.modes {
  display: flex;
  padding: 1rem;
  border-radius: 10rem;
  background: linear-gradient(
    315deg,
    var(--color-primary-1),
    var(--color-primary-2)
  );
  box-shadow: -1rem -1rem 2rem var(--color-primary-1),
    1rem 1rem 2rem var(--color-primary-2);
}

.mode:not(:last-child) {
  margin-right: 2rem;
}

.mode__label {
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  color: var(--light-purple);
  padding: 1rem 2rem;
  border-radius: 10rem;
  font-weight: 700;
}

.mode__input:checked + .mode__label {
  background-color: var(--accent-color);
  color: var(--color-primary-2);
}
