.progress-bar {
  transform: rotate(-90deg);
}

.progress-bar__path,
.progress-bar__bar {
  fill: none;
  height: 100%;
  width: 100%;
}

.progress-bar__path {
  stroke-width: 6;
  stroke: var(--dark-purple);
}

.progress-bar__bar {
  stroke: var(--accent-color);
  stroke-width: 6;
  stroke-linecap: round;
  fill: var(--dark-purple);
}
